@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@300;400;700&family=IBM+Plex+Sans+Condensed:wght@300;400;700&family=Oswald:wght@300;600;700&family=Recursive:wght@300;400;700&family=Roboto+Condensed:wght@300;700&family=Roboto:wght@300;400;700&display=swap');

:root {
  --main-bg-color: #f0f0f0;
  --card-bg-color: #fff;
  --border-color: #000;
  --border-radius: 5px;
  --text-color: #333;
  --header-bg-color: #ddd;
  --header-text-color: #222;
  --table-border-color: #ccc;
  --table-header-bg-color: #f0f0f0;
  --font-size-base: 11px;
  --font-size-large: 13px;
  --font-size-xlarge: 15px;
  --spacing-small: 3px;
  --spacing-medium: 5px;
  --spacing-large: 8px;
  --font-familty-defaut: 'Roboto', 'Fira Sans Condensed', Arial, sans-serif;
  --font-familty-condensed: 'Roboto', Arial, sans-serif;
}
  
body {
  font-family: var(--font-familty-defaut);
  background-color: var(--main-bg-color);
  color: var(--text-color);
  line-height: 1.4;
  font-size: var(--font-size-base);
}

.Card {
  background-color: var(--card-bg-color);
  border: 2px solid var(--border-color);
  border-radius: var(--border-radius);
  overflow: hidden;
  margin-bottom: var(--spacing-large);
  padding: var(--spacing-medium);
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
  font-size: var(--font-size-base);

  .card-header {
    background-color: var(--header-bg-color);
    color: var(--header-text-color);
    text-shadow: var(--main-bg-color);
    padding: var(--spacing-small) var(--spacing-medium);
    margin: calc(-1 * var(--spacing-medium));
    margin-bottom: var(--spacing-small);
    display: flex;
    justify-content: space-between;
    
    .operative-name {
      margin-top: auto;
      margin-bottom: auto;
      font-size: var(--font-size-xlarge);
      font-family: "Fira Sans Condensed";
      text-transform: uppercase;
      /* vertical-align: middle; */
    }
    
    .card-stats {
      display: flex;
      justify-content: flex-end;
      /* align-items: right; */
      width: 60%;
  
      .stat {
        text-align: center;
        width: 70px;
    
        .stat-title {
          display: block;
          font-weight: bold;
          font-size: var(--font-size-base);
        }
        
        .stat-value {
          display: block;
          font-size: var(--font-size-large);
        }
      }
    }    
  }

  /* card weapons */
  .weapon-table table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: var(--spacing-medium);
    font-size: inherit;
  
    th, td {
      border: 1px solid var(--table-border-color);
      border-left: none;
      border-right: none;
      padding: var(--spacing-small);
      text-align: center;
    }
    
    th {
      background-color: var(--table-header-bg-color);
      font-weight: bold;
    }
  
    .name {
      text-align: left;
      width: 35%;
    }
    .atk {
      min-width: 30px;
    }
    .hit {
      min-width: 30px;
    }
    .dmg {
      min-width: 30px;
    }
    .wr {
      text-align: left;
      width: 35%;
    }
  }

  /* Card abilities */
  .abilities {
    font-family: var(--font-familty-condensed);
    p {
      margin: var(--spacing-small) 0;
      font-family: var(--font-familty-condensed);
    }
    strong {
      font-family: var(--font-familty-defaut);
    }
    ul {
      margin-top: 2px;
      margin-bottom: 2px;
    }
  }
}

.abilityList table {
  width: 100%;
  background-color: var(--card-bg-color);
  border: 2px solid var(--border-color);
  border-collapse: separate;
  border-spacing: 0;
  border-radius: var(--border-radius);
  overflow: hidden;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
  margin-bottom: var(--spacing-large);

  th {
    color: var(--header-text-color);
    background-color: var(--header-bg-color);
    padding: var(--spacing-small) var(--spacing-medium);
    text-align: left;
    font-size: var(--font-size-large);
  }
  
  td {
    border: 1px solid var(--table-border-color);
    padding: var(--spacing-small) var(--spacing-medium);
    font-family: var(--font-familty-condensed);
  }
  
  strong {
    font-family: var(--font-familty-defaut);
  }

  ul {
    margin-top: 2px;
    margin-bottom: 2px;
  }
}


.noprint {
  display: none;
}

@media print {
  body {
    background-color: white;
    column-count: 2;
  }
  
  * {
    box-shadow: none !important;
  }
  
  .Card {
    break-inside: avoid;
    page-break-inside: avoid;
  }

  .abilityList {
    break-inside: avoid;
    page-break-inside: avoid;
  }
}

